<h1>Receipt#list</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Issued at</th>
      <th>Supplier name</th>
      <th>Sent at</th>
      <th>Planned delivery date</th>
      <th>Actual delivery date</th>
      <th>User</th>
      <th>Note</th>
      <th>State</th>
      <th>Price without VAT</th>
      <th>Price with VAT</th>
      <th></th>
    </tr>
    <tr>
      <%= form_with url: "/receipt/calendar", method: :get do |form| %>
        <th>
          <%= form.text_field :number, class: "form-control", placeholder: "Search number", value: params[:number]%>
        </th>
        <th>
          <%= form.date_field :issued_at, class: "form-control", value: params[:issued_at]%>
        </th>
        <th>
          <%= form.text_field :supplier_name, class: "form-control", placeholder: "Name", value: params[:supplier_name]%>
        </th>
        <th><%= form.date_field :sent_at, class: "form-control", value: params[:sent_at]%></th>
        <th><%= form.date_field :planned_delivery, class: "form-control", value: params[:planned_delivery]%></th>
        <th><%= form.date_field :actual_delivery, class: "form-control", value: params[:actual_delivery]%></th>
        <th><%= form.text_field :user, class: "form-control", placeholder: "Search number", value: params[:user]%></th>
        <th><%= form.text_field :note, class: "form-control", placeholder: "Search number", value: params[:note]%></th>
        <th><%= form.select :state, ["rozpracovaná", "připravená", "dokončená"], {}, {class: "form-control", selected: params[:state] }%></th>
        <th></th>
        <th></th>
        <th><%= form.submit "Search", class: "btn btn-primary" %></th>
      <% end %>
    </tr>
  </thead>
 <tbody>
  <% @receipts.each do |receipt| %>
    <%= content_tag :tr, id: dom_id(receipt), class: dom_class(receipt) do %>
      <td><%= receipt.number %></td>
      <td><%= receipt.issued_at.strftime("%d. %m. %Y") %></td>
      <td><%= receipt.supplier_name %></td>
      <td><%= receipt.sent_at.strftime("%d. %m. %Y") %></td>
      <td><%= receipt.planned_delivery.strftime("%d. %m. %Y") %></td>
      <td><%= receipt.actual_delivery.strftime("%d. %m. %Y") %></td>
      <td><%= receipt.user %></td>
      <td><%= receipt.note  %></td>
      <td><%= receipt.state  %></td>
      <td><%= number_to_currency(receipt.price_without_vat, unit: "CZK", separator: ",", delimiter: " ", format: "%n %u")  %></td>
      <td><%= number_to_currency(receipt.price_with_vat, unit: "CZK", separator: ",", delimiter: " ", format: "%n %u")  %></td>
      <td><%= link_to "edit", edit_receipt_path(receipt), class: "btn btn-link"  %></td>
    <% end %>
  <% end %>
</table>


<%== pagy_bootstrap_nav(@pagy) %>

